.form-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    background-color: aliceblue;
    height: 605px;
    width: 538px;
}

.input-container {
    width: 200px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}